.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.clock {
  margin-top: 30px;
  font-size: 35px;
}

.btn {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: bisque;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}